<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro de Alunos</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">
  <div class="w-full max-w-lg bg-white p-8 rounded-lg shadow-lg">
    <h1 class="text-2xl font-bold text-gray-700 mb-6 text-center">Cadastro de Alunos</h1>

    {% if form.errors %}
    <div class="mb-4 text-red-500">
      <ul>
        {% for field, errors in form.errors.items %}
          {% for error in errors%}
            <li>{{ field }} : {{ error }}</li>
          {% endfor %}
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    <form action="{% url 'estudante-create' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      <!-- Matrícula -->
      <div class="mb-4">
        <label for="matricula" class="block text-gray-700 font-medium mb-2">Matrícula</label>
        <input type="text" id="matricula" name="matricula" required
          class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring focus:ring-blue-300 focus:outline-none">
      </div>

      <!-- Nome -->
      <div class="mb-4">
        <label for="nome" class="block text-gray-700 font-medium mb-2">Nome</label>
        <input type="text" id="nome" name="nome" required
          class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring focus:ring-blue-300 focus:outline-none">
      </div>

      <!-- Turma
      <div class="mb-4">
        <label for="turma" class="block text-gray-700 font-medium mb-2">Turma</label>
        <input type="text" id="turma" name="turma" required
          class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring focus:ring-blue-300 focus:outline-none">
      </div> -->

      <!-- CPF
      <div class="mb-4">
        <label for="cpf" class="block text-gray-700 font-medium mb-2">CPF</label>
        <input type="text" id="cpf" name="cpf" placeholder="000.000.000-00" required
          class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring focus:ring-blue-300 focus:outline-none">
      </div> -->

      <!-- Email -->
      <div class="mb-4">
        <label for="email" class="block text-gray-700 font-medium mb-2">Email</label>
        <input type="email" id="email" name="email" placeholder="exemplo@email.com" required
          class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring focus:ring-blue-300 focus:outline-none">
      </div>

      <!-- Contato -->
      <div class="mb-4">
        <label for="contatos" class="block text-gray-700 font-medium mb-2">Contato</label>
        <input type="number" id="contatos" name="contatos" placeholder="98 9 9999-9999"
          class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring focus:ring-blue-300 focus:outline-none">
      </div>

      <!-- Sexo -->
       <div class="mb-4">
        <label for="sexo" class="block text-gray-700 font-medium mb-2">Sexo</label>
        <select name="sexo" id="sexo" required class="w-full px-4 py-2 border-gray-300 rounded-lg focus:ring focus:ring-blue-300 focus:outline-none">
          <option value="M">Masculino</option>
          <option value="F">Feminino</option>
          <option value="O">Outro</option>
        </select>
       </div>

      <!-- Password
      <div class="mt-4">
        <label for="password" class="block text-sm font-medium text-gray-700">Create Password</label>
        <input type="password" id="password" name="password" 
          class="mt-1 block w-full px-4 py-2 bg-gray-50 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500" 
          placeholder="Enter a secure password" required>
      </div> -->

      <!-- Confirm Password
      <div class="mt-4">
        <label for="confirm-password" class="block text-sm font-medium text-gray-700">Confirm Password</label>
        <input type="password" id="confirm-password" name="confirm-password" 
          class="mt-1 block w-full px-4 py-2 bg-gray-50 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500" 
          placeholder="Re-enter your password" required>
      </div> -->

      <div class="mt-4">
        <label for="foto" class="block text-sm font-medium text-gray-700">Foto</label>
        <input type="file" id="foto" name="foto" 
        class="w-full bg-blue-500 text-white font-medium py-2 px-4 rounded-lg hover:bg-blue-600 transition duration-300" required>
      </div>

      <!-- Botão de Cadastro -->
      <button type="submit"
        class="w-full bg-blue-500 text-white font-medium py-2 px-4 rounded-lg hover:bg-blue-600 transition duration-300">
        Cadastrar
      </button>
    </form>
  </div>
</body>
</html>