<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="./output.css" rel="stylesheet">
</head>
<body class="bg-zinc-800 text-zinc-50">

<div class="h-screen flex flex-col">
    <div class="flex flex-1">
        <aside class="w-72 bg-zinc-950 p-6">
            <div class="flex intens-center gap-2">
                <div class="w-3 h-3 bg-red-500 rounded-full">

                </div>
                <div class=" w-3 h-3 bg-yellow-500 rounded-full">

                </div>
                <div class=" w-3 h-3 bg-green-500 rounded-full">

                </div>
            </div>
          <nav class="space-y-5 mt-10">
            <a href="" class="flex items-center gap-3 text-sm font-semibold text-zinc-200">Home</a>
            <a href="" class="flex items-center gap-3 text-sm font-semibold text-zinc-200">Search</a>
            <a href="" class="flex items-center gap-3 text-sm font-semibold text-zinc-200">Your Library</a>
          </nav>
          <nav>
            <nav class="mt-10 pt-10 border-t border-zinc-800 flex flex-col gap-3">
                <a href="" class=" text-zinc-400 hover: text-zinc-200 text-sm ">Play List</a>
                <a href="" class=" text-zinc-400 hover: text-zinc-200 text-sm ">Curtidost</a>
                <a href="" class=" text-zinc-400 hover: text-zinc-200 text-sm ">Baixados</a>
                <a href="" class=" text-zinc-400 hover: text-zinc-200 text-sm ">Favoritos</a>
                <a href="" class=" text-zinc-400 hover: text-zinc-200 text-sm ">Salvos</a>
            </nav>

          </nav>
        </aside>
        <main class="flex-1 p-6">
            <div class="flex tems-center gap-3">
                <button class=" rounded-full bg-black/40 p-1">
>                </button>
                <button class=" rounded-full bg-black/40 p-1">
>
                </button>
            </div>
<h1 class="font-semibold text-4xl mt-10">Good Afternon</h1>
        </main>
    </div>
    <footer class="bg-zinc-800 border-t border-zinc-700 p-6">footer</footer>
</div>

</body>
</html>